{% extends 'base.html' %}

{% block content %}
<div class="container-xl">
    <div class="row g-2 align-items-center">
        <div class="col">
            <h2 class="page-title">
                Sizning postlaringiz
            </h2>
        </div>
        <!-- Page title actions -->
        <div class="col-auto ms-auto d-print-none">
            <div class="d-flex">
                <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-report">
                    <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                         stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                         stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M12 5l0 14"/>
                        <path d="M5 12l14 0"/>
                    </svg>
                    Post qo'shish
                </a>
            </div>
        </div>
    </div>
</div>

<div class="page-body">
    <div class="container-xl">
      <div class="row row-cards">

        {% for post in object_list %}
        <div class="col-sm-6 col-lg-4">
          <div class="card card-sm">
            <a href="{% url 'post_details' post.id %}" class="d-block"><img src="{{post.image.url}}" class="card-img-top"
                                                                            style="float: center; width: 400px; height: 250px; object-fit: cover"></a>
            <div class="card-body">
              <div class="d-flex align-items-center">
                {% if post.author.avatar %}
                <span class="avatar me-3 rounded" style="background-image: url({{post.author.avatar.url}})"></span>
                {% else %}
                <span class="avatar me-3 rounded" style="background-image: url(/static/img/icons/default.jpg)"></span>
                {% endif %}

                <div>
                  <div>{{ post.author.username }}</div>
                  <div class="text-muted">{{post.created}}</div>
                </div>
                <div class="ms-auto">
                {% if request.user in post.likes.all %}
                  <a href="{% url 'unlike_post' post.id %}" class="ms-3 text-muted">
                    <!-- Download SVG icon from http://tabler-icons.io/i/heart -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-filled text-red " width="24" height="24"
                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" /></svg>
                    {{ post.likes.count }}
                  </a>
                 {% else %}
                  <a href="{% url 'like_post' post.id %}" class="ms-3 text-muted">
                    <!-- Download SVG icon from http://tabler-icons.io/i/heart -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon " width="24" height="24"
                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" /></svg>
                    {{ post.likes.count }}
                  </a>
                {% endif %}
                    <a href="{% url 'post_details' post.id %}" class="ms-3 text-muted">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-message-circle" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M3 20l1.3 -3.9a9 8 0 1 1 3.4 2.9l-4.7 1"></path>
                        <line x1="12" y1="12" x2="12" y2="12.01"></line>
                        <line x1="8" y1="12" x2="8" y2="12.01"></line>
                        <line x1="16" y1="12" x2="16" y2="12.01"></line>
                     </svg>
                        {{post.post_comments.count}}
                    </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>


    </div>
</div>

<div class="modal modal-blur fade" id="modal-report" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Yangi post yaratish</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form action="{% url 'create_post' %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{form}}
              <div class="modal-footer">
                <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                  Yopish
                </a>
                <button type="submit" class="btn btn-primary">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
                  Yaratish
                </button>
              </div>
          </form>
      </div>

    </div>
  </div>
</div>




{% endblock %}