{% extends 'base.html' %}


{% block content %}
<div class="page-body">
    <div class="container-xl">
        <div class="page-header mb-3">
            <div class="row align-items-center mw-100">
                <div class="col">
                    <div class="mb-1">
                    </div>
                    <h2 class="page-title">
                        <span class="text-truncate">Sozlamalar</span>
                    </h2>
                </div>
            </div>
        </div>
        {% include 'profile_menu_inc.html' %}
        <div class="col-12 col-md-8">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Paro'lni o'zgartirish</h3>
                        </div>
                        <div class="card-body">
                            {% if form.errors %}
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form }}
                                <hr>
                                <button type="submit" class="btn btn-primary">
                                    O'zgarishlarni saqlash
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}