{% autoescape off %}

Salom. {{ user.full_name }}!

Ushbu e-pochta manzili uchun hisobingiz parolini tiklash soʻrovini oldik. Hisobingiz uchun parolni tiklash jarayonini boshlash uchun quyidagi havolani bosing.

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Ushbu havoladan faqat bir marta foydalanish mumkin. Agar parolingizni qayta tiklashingiz kerak boʻlsa, {{ protocol }}://{{domain}} saytiga tashrif buyuring va boshqa qayta oʻrnatishni talab qiling.

Agar siz ushbu so'rovni amalga oshirmagan bo'lsangiz, bu xatni e'tiborsiz qoldirishingiz mumkin.

Hurmat bilan,
Humogram jamoasi

{% endautoescape %}