{% extends 'base.html' %}



{% block content %}
    <div class="page-body">
    <div class="container-xl">
      <div class="page-header mb-3">
        <div class="row align-items-center mw-100">
          <div class="col">
            <div class="mb-1">
            </div>
            <h2 class="page-title">
              <span class="text-truncate">Sozlamalar</span>
            </h2>
          </div>
        </div>
      </div>
        {% include 'profile_menu_inc.html' %}
        <div class="col-12 col-md-8">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Account</h3>
                </div>
                <div class="card-body">
                    {% if user.avatar %}
                    <div style="line-height: 0;
                            display: inline-block;
                            height: 128px; width: 128px;">
                        <img height="128" width="128" src="{{ user.avatar.url }}" style="border-radius: 50%;">
                    </div>
                    {% else %}
                    <div style="line-height: 0;
                            display: inline-block;
                            height: 128px; width: 128px;">
                        <img height="128" width="128" src="/static/img/icons/default.jpg" style="border-radius: 50%;">
                    </div>
                    {% endif %}

                  <form method="post" enctype="multipart/form-data">
                      {% csrf_token %}

                        <div class="row">
                            <div class="form-group col-md-6">
                            <label>Profil rasmi: </label>
                            {{ form.avatar }}
                            </div>
                            <div class="form-group col-md-6">
                            <label>Elektron manzil: </label>
                            {{ form.email }}
                            </div>

                            <div class="form-group col-md-6">
                            <label>Ism: </label>
                            {{ form.first_name }}
                            </div>
                            <div class="form-group col-md-6">
                            <label>Familiya: </label>
                            {{ form.last_name }}
                            </div>

                            <div class="form-group col-md-6">
                            <label>Telefon raqam: </label>
                            {{ form.phone }}
                            </div>
                            <div class="form-group col-md-6">
                            <label>Tug'ilgan sanasi: </label>
                            {{ form.birthday }}
                            </div>

                            <div class="form-checkbox col-md-6">
                                <br>
                            <label>Akkaunt maxfiyligi:</label>
                            </div>

                            <div class="form-checkbox col-md-6">
                                <br>
                            <label class="form-check form-switch">{{ form.is_private }}</label>
                            </div>

                        </div>
                      <br>
                      <button type="submit" class="btn btn-primary">
                          O'zgarishlarni saqlash
                      </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
{% endblock %}